<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/abdelrhman.amin/IdeaProjects/reqresIn/src/test/java/Testcases/UserTests.java">
        <classes>
            <class name="Testcases.UserTests">
                <methods>
                    <include name="createUserWithValidData"/>
                    <include name="updateUserWithValidData"/>
                    <include name="deleteUser"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>